@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'montserrat',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.navbar a{
    font-size: 14px;
    font-weight: 1000;
}
.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0,3;
    background: #289a11;;
}
.w-100 height{
    height: 80vh;
    width: 150%;
}
.carousel-item{
    min-height: 100px;
}
.carousel-caption{
    text-align: center;
    margin-bottom: 200px;
    z-index: 2; 
     } 
.carousel-caption h1 {
      font-size: 60px;
    
     letter-spacing: 1px;
     font-weight: 500;
      line-height: 60px;
      text-align: center;
    }
    
.carousel-caption p {
     font-family: 'Montserrat', sans-serif;
     width: 60%;
     font-size: 16px; 
     line-height: 1.9;
     text-align: center;
     margin: 0 auto; /* Ortalamak için eklendi */
    }

.carousel-item .carousel-caption input{
    padding: 0.73rem 1rem;
}
.carousel-inner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    
}
@media only screen and ( max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption h1{
        font-size: 30px;
        letter-spacing: 0;
        line-height: normal;
    }
.carousel-caption{
    padding: 10px 15px;
    font-size: 15px;
}

}
#analysis {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo, .text {
    opacity: 0;
    transform: translateY(100px); /* Dıştan içe doğru kayma için başlangıç konumu */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#analysis:hover .photo,
#analysis:hover .text {
    transform: translateY(0);
    opacity: 1;
}

/* Her öğenin gecikmeli görünmesini sağlamak için */
#analysis:hover .photo {
    transition-delay: 0.1s;
}

#analysis:hover .text {
    transition-delay: 0.2s;
}

.wrapper {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
  }
  
  .wrapper h1 {
    font-size: 4em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
    color: #079223;
  }
  
  .content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
  
  .card {
    min-height: 180px;
    width: calc(33.333% - 2rem);
    padding: 15px; /* Padding azaltıldı */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.4);
  }
  
  .card i {
    margin: 10px;
    color: #079223;
    font-size: 1.2em; /* Font boyutu küçültüldü */
  }
  
  .card p {
    color: #010d01;
    text-align: center;
    font-size: 0.9em; /* Font boyutu küçültüldü */
  }
  
  .card h2 {
    color: #021105;
    text-align: center;
    margin: 12px;
    font-size: 1.5em; /* Font boyutu küçültüldü */
  }
  
  .card:hover i,
  .card:hover p {
    color: #f6f6f9;
  }
  
  .card:h2 {
    font-weight: 500;
  }
  
  .card:nth-child(1):hover,
  .card:nth-child(2):hover,
  .card:nth-child(3):hover,
  .card:nth-child(4):hover,
  .card:nth-child(5):hover,
  .card:nth-child(6):hover,
  .card:nth-child(7):hover,
  .card:nth-child(8):hover,
  .card:nth-child(9):hover {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.7) 0%, rgba(0, 128, 0, 0.7) 100%), url(/static/image/forest.jpg);
    background-size: cover;
  }
  
  @media (max-width: 1024px) {
    .card {
      width: calc(50% - 2rem);
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(100% - 2rem);
    }
  }
  
#team .team-card {
    width: 100%; 
    margin-bottom: 20px; 
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(16, 12, 12, 0.1);
    transition: background 0.3s ease; 
}

#team .team-card:hover {
    background: linear-gradient(45deg, 
                                rgba(54, 69, 208, 0.7) 0%, 
                                rgba(73, 60, 250, 0.7) 100%), 
                                url(/static/image/beach-2413081.jpg);
    background-size: cover;
}

#team .team-card .card-body {
    padding: 20px;
}

#team .row .col-md-2 {
    margin-bottom: 20px; 
}
#team .team-card:hover p{
    color: #0e0e17;
}
@media(max-width: 991px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}
.container h2{
    color: rgb(13, 85, 121);
}

.pricing-wrapper {
    max-width: 1090px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.pricing-wrapper .table {
    width: calc(33% - 20px);
    background: #fff;
    padding: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.table:hover {
    transform: scale(1.05);
    z-index: 1;
}

.price-section {
    display: flex;
    justify-content: center;
}

.price-area {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
}

.price-area .inner-area {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    line-height: 117px;
    text-align: center;
    position: relative;
    top: -10px;
    left: 17px;
}

.inner-area .text {
    font-size: 25px;
    font-weight: 400;
}

.inner-area .price {
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
}

.package-name {
    width: 100%;
    height: 2px;
    margin: 35px 0;
    position: relative;
}

.package-name::before {
    position: absolute;
    content: attr(data-name);
    left: 50%;
    top: 50%;
    background: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 0 15px;
    transform: translate(-50%, -50%);
}

.features li {
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.features li .list-name {
    font-size: 17px;
    font-weight: 400;
}

.features li .icon {
    font-size: 15px;
}

.features li .icon-check {
    color: #2db94d;
}

.features li .icon-cross {
    color: #ac2c0f;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.btn button {
    width: 120%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* Renk ayarları */
.silver {
    box-shadow: 0 4px 8px rgba(192, 192, 192, 0.5);
}
.silver .price-area,
.silver .inner-area,
.silver .btn button {
    background: #c0c0c0;
}
.silver .package-name {
    background: #e0e0e0;
}
.silver .package-name::before {
    color: #c0c0c0;
}

.gold {
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.5);
}
.gold .price-area,
.gold .inner-area,
.gold .btn button {
    background: #ffd700;
}
.gold .package-name {
    background: #fff8dc;
}
.gold .package-name::before {
    color: #ffd700;
}

.platinum {
    box-shadow: 0 4px 8px rgba(229, 228, 226, 0.5);
}
.platinum .price-area,
.platinum .inner-area,
.platinum .btn button {
    background: #e5e4e2;
}
.platinum .package-name {
    background: #f5f5f5;
}
.platinum .package-name::before {
    color: #e5e4e2;
}

.card-blog {
    width: 100%;
    margin-bottom: 20px;
    transition: background 0.3s ease;
  }
  
  .card-blog .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-blog .card-text {
    font-size: 1rem;
    color: #555;
  }
  
  .card-blog .btn {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .card-blog:nth-child(1):hover {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.7) 0%, rgba(0, 128, 0, 0.7) 100%), url('/static/image/gemi.jpg');
    background-size: cover;
    background-blend-mode: overlay;
  }
  footer{
    background-color: #63bde1;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background: url('/static/image/gemi.jpg') no-repeat center center;
    background-size: cover;
    color: white;
  }
  
  .companyLogos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
  }
  
  .company-logo {
    height: 175px; 
    width: auto;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .socialIcons li a {
    color: white;
    text-decoration: none;
  }
  
  .socialIcons li a:hover {
    color: #ddd;
  }
  
  .socialIcons i {
    margin-right: 8px;
  }
  