<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OVO ADMİN PANEL</title>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bx-leaf'></i>
            <span class="text">OVO</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="#">
                    <i class='bx bxs-dashboard' >
                        <span class="text">My Dashboard</span>
                    </i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-report' >
                        <span class="text"> My Report</span>
                    </i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-bar-chart' >
                        <span class="text">My Analysis</span>
                    </i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-exit' >
                        <span class="text"> logout</span>
                    </i>
                </a>
            </li>
        </ul>
    </section>





  
</body>
</html>